@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 /* ********************** */
 /*  VARIABLES  */
/* **********************  */

:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
  --transition: 0.4s all;
}

/* ********************** */
 /*  PRESET  */
/* **********************  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    line-height: 1.15;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

.image {
  width: 100%;
  height: 20rem;
}

.header {
  position: absolute;
  width: 100%;
  z-index: -10;
}

.header--content {
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
   padding: 2rem 4rem;
   row-gap: 2rem;
}

.header--content h1{
  color: white;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.header--content form {
  display: flex;
  align-items: center;
}
.header--content form input {
  border-radius: 12px 0 0 12px;
  padding: 0.5rem 0.8rem;
}

.header--content form input:focus{
  outline: none;
  border: none;

}

.header--content form button {
  border-radius: 0 12px 12px 0;
  background-color: var(--Very-Dark-Gray);
  color: white;
  padding: 15.8px 1rem;
}

.header--content form button:hover {
  background-color: var(--Dark-Gray);
  transition: var(--transition);
}

@media (min-width: 1024px) {
  .header--content {
    row-gap: 2.5rem;
  }
  .header--content h1 {
    font-size: 35px;
  }

  .header--content form input {
    padding: 0.8rem 1.2rem;
    width: 480px;
  }

  .header--content form button {
    padding: 20.7px 1.4rem;
  }
}
